<h2>Finalizar Compra para <%= @event.name %></h2>

<p>Você já tem uma conta?</p>

<%= link_to "Sim, fazer login", new_user_session_path %>
<%= link_to "Não, criar conta", new_user_registration_path %>

